<div class="h-full w-full grid">
  <p-toast />
  <p-confirmdialog />

  <p-card class="lg:col-6 lg:col-offset-3 shadow-4 my-1 col-12">

    <ng-template #header>
      <div class="flex justify-content-between align-items-center">
        <h1 class="m-0 text-center flex-grow-1">Liste des pollutions</h1>
        <p-button label="Ajouter" severity="info" icon="pi pi-plus" [routerLink]="['/pollution/create']">
        </p-button>
      </div>
    </ng-template>

    <div class="grid">
      <div class="col-12 md:col-4">
        <input pInputText type="text" [(ngModel)]="filtreTitre" placeholder="Filtrer par titre" class="w-full" />
      </div>

      <div class="col-12 md:col-4">
        <p-select [(ngModel)]="filtreType" [options]="typePollutionOptions" optionLabel="label" optionValue="value" placeholder="Filtrer par type de pollution" [showClear]="true" class="w-full" />
      </div>

      <div class="col-12 md:col-4">
        <input pInputText type="text" [(ngModel)]="filtreLieu" placeholder="Filtrer par lieu" class="w-full" />
      </div>

      <div class="col-12 mt-2 flex justify-content-end">
        <p-button (click)="filtrer()" label="Filtrer" icon="pi pi-filter" class="mr-2" />
        <p-button (click)="resetFiltres()" label="Réinitialiser" icon="pi pi-refresh" severity="secondary" />
      </div>
    </div>

    <div *ngIf="listePollution$ | async as listePollution; else loadingTemplate">

      <div *ngFor="let pollution of listePollution">
        <p-fieldset [legend]="pollution.titre">
          <div class="grid grid-nogutter">

            <div class="md:col-8 col-12">
              <p>
                <i class="pi pi-map-marker text-primary mr-1"></i>
                <span class="font-bold">Lieu :</span> {{ pollution.lieu }}
              </p>
              <p>
                <i class="pi pi-globe text-green-500 mr-1"></i>
                <span class="font-bold">Type pollution :</span> {{ pollution.typePollution | typePollutionLabel }}
              </p>
              <p>
                <i class="pi pi-calendar text-teal-500 mr-1"></i>
                <span class="font-bold">Date observation :</span> {{ pollution.dateObservation | date:'dd/MM/yyyy' }}
              </p>
            </div>

            <div class="md:col-4 col-12">
              @if (pollution.photoUrl) {
                <p-image [src]="pollution.photoUrl" class="h-8rem" preview />
              }
            </div>

            <div class="col-12 flex justify-content-between mt-2">
              <div>
                <p-button label="Consulter" severity="primary" icon="pi pi-eye" [routerLink]="['pollution/read', pollution.id]" class="mr-2" />
                <p-button label="Modifier" severity="info" icon="pi pi-pencil" [routerLink]="['pollution/edit', pollution.id]" />
              </div>
              <div>
                <p-button (click)="deletePollution($event, pollution.id)" label="Supprimer" severity="danger" icon="pi pi-trash" />
              </div>
            </div>
            
          </div>
        </p-fieldset>
      </div>

      <div class="flex justify-content-end">
        <p class="font-italic m-0">{{ listePollution.length }} pollution(s)</p>
      </div>

    </div>

    <ng-template #loadingTemplate>
      <div class="flex justify-content-center align-items-center" style="min-height: 50vh;">
        <p-progressSpinner class="w-4rem h-4rem" strokeWidth="4"></p-progressSpinner>
      </div>
    </ng-template>
  </p-card>
</div>
